bert_score==0.3.11
faiss-cpu==1.7.2
filelock==3.4.0
mmh3==3.0.0
newspaper3k==0.2.8
numpy==1.22.2
pyserini==0.15.0
pytorch_lightning==1.5.10
requests==2.22.0
scikit_learn==1.0.2
spacy==3.2.2
torch==1.10.2
tqdm==4.62.2
transformers==4.16.2
